
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<fieldset>
    <legend>Create Student</legend>
    @using (Html.BeginForm("Create", "Home", FormMethod.Post, new { @class = "form", @id = "form1" }))
    { 
        <div class="form-group">
            <input type="text" name="Name" value="" class="form-control" /><br/>
            <input type="text" name="Age" value="" class="form-control" /><br />
            <input type="submit" name="" value="Save" class="btn btn-primary" />

        </div>
    }

    </fieldset>